<p id="notice"><%= notice %></p>

<p>
  <strong>Firtsname:</strong>
  <%= @user.firtsname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
