<p id="notice"><%= notice %></p>

<h1>
  
  <%= @survey.name %>
</h1>

<% @survey.questions.each do |question| %> 
<%= question.title %>	
<% end %>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
